
// colors variable
$white: #fff
$black: #000
$danger: #e73330
$danger-dark: #d8322f
$danger-light: #ef5350
$primary: #80cbc4
$secondary: #dfebed
$warning: #eec648
$warning-dark: #dab232
$inverse: #2b4450

body,
html
  margin: 0
  padding: 0

// navbar

.navbar
  background-color: transparent
  border-bottom: 0
